body {
	
 color: purple;
	
}

button, div, form, input {
			margin: 10px;
}
 
p {
	width:100px;
	margin-right:10px;
}

#addQueen, .queen {

	background-color: pink;
	color: purple;
	border: 10px red;

}

#queenbuttons{

	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;

}

#form {

	width: 100%;
	max-width: 270px;
	float: right;
	display: inline-fixed;

}

#queen-form{

	
}

#queenGifs {

	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
	float:left;
	overflow: auto;

}

.item{

	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
	padding: 20px;

		
}
